* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DDA0DD;
}
.container {
    background-color: white;
    display: flex;
    flex-basis: 90%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
}
/* ========== <START> MENU ========== */
.menu {
    flex: 1;
    background-color: FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #555;
    padding: 0 0 20px 0;
    font-size: 25px;
    /* border-radius: 50%; */
}


.image {
    flex: 7;
    background-color: blue;
}
.profile {
    flex: 10;
    background-color: #FAF9F6;
}
.menu-bar {
    background-color: #c97aff;
    padding: 25px;
}
.menu-options div {
    margin: 20px;
}
.fa-user, .fa-cloud-arrow-down {
    color: #c97aff;
}
/* ========== <END> MENU ========== */
/* ========== <START> IMAGE ========== */
.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/image.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding-bottom: 20px;
}
.image h2 {
    color: #E0FFFF;
    letter-spacing: 10px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 10px;
}
.image i {
    color: #E0FFFF;
}
.image .social {
    display: flex;
    justify-content: center;
    align-items: center;    
}
.image .social i {
    margin-right: 10px;
}
/* ========== <END> IMAGE ========== */
/* ========== <START> PROFILE ========== */
.profile {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile h2, .profile h3 {
    text-transform:uppercase;
    font-weight: 900;
    color: #000;
    letter-spacing: 2px;
}
.profile p {
    color: #666;
    letter-spacing: 2px;
}
.profile i {
    color: #c97aff;
    font-size: 30px;
}
.profile .row {
    display: flex;
}
.profile .row div * {
    margin-top: 15px;
}
/* ========== <END> PROFILE ========== */                           